h1 {
  color: teal;
  text-align: center;
}
#startForm {
  text-align: center;
}
body{
  background: linear-gradient(to right, #D5C2D8, #4B3048);
}
.icon{
  width: 150px;
  height: auto;
}
.icons{
  text-align: center;
  padding-top: 20%;
}
